#
# Copyright (c) 2023 ZettaScale Technology
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
# which is available at https://www.apache.org/licenses/LICENSE-2.0.
#
# SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
#
# Contributors:
#   ZettaScale Zenoh Team, <zenoh@zettascale.tech>
#

name: Release

on:
  schedule:
    - cron: "0 0 * * 1-5"
  workflow_dispatch:
    inputs:
      live-run:
        type: boolean
        description: Live-run
        required: false
        default: false
      version:
        type: string
        description: Release number
        required: false
      zenoh-version:
        type: string
        description: Zenoh Release number
        required: false
      branch:
        type: string
        description: Release branch
        required: false

env:
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  tag:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.create-release-branch.outputs.version }}
      branch: ${{ steps.create-release-branch.outputs.branch }}
    steps:
      - id: create-release-branch
        uses: eclipse-zenoh/ci/create-release-branch@main
        with:
          repo: ${{ github.repository }}
          live-run: ${{ inputs.live-run || false }}
          version: ${{ inputs.version }}
          branch: ${{ inputs.branch }}
          github-token: ${{ secrets.BOT_TOKEN_WORKFLOW }}

      - uses: eclipse-zenoh/ci/bump-crates@main
        with:
          repo: ${{ github.repository }}
          live-run: ${{ inputs.live-run || false }}
          version: ${{ steps.create-release-branch.outputs.version }}
          branch: ${{ steps.create-release-branch.outputs.branch }}
          bump-deps-pattern: ${{ inputs.zenoh-version && 'zenoh.*' || '' }}
          bump-deps-version: ${{ inputs.zenoh-version }}
          bump-deps-branch: ${{ inputs.zenoh-version && format('release/{0}', inputs.zenoh-version) || '' }}
          toolchain: "1.85.0"
          github-token: ${{ secrets.BOT_TOKEN_WORKFLOW }}

  builds:
    name: Build for ${{ matrix.build.target }} on ${{ matrix.build.os }}
    runs-on: ${{ matrix.build.os }}
    needs: tag
    strategy:
      fail-fast: false
      matrix:
        build:
          - { target: x86_64-unknown-linux-gnu, os: ubuntu-24.04 }
          - { target: aarch64-apple-darwin, os: macos-14 }
          - { target: x86_64-pc-windows-msvc, os: windows-2022 }

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.tag.outputs.branch }}

      - uses: hustcer/setup-nu@v3
        with:
          version: '0.100'

      - name: Extract Wireshark version from Cargo.toml
        id: wireshark-version
        shell: nu {0}
        run: |
          let version = (open Cargo.toml | get workspace.metadata.wireshark_version)
          $"version=($version)" | save --append $env.GITHUB_OUTPUT

      - if: contains(matrix.build.os, 'ubuntu')
        name: Install dependencies (Ubuntu)
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt install -y software-properties-common
          sudo add-apt-repository -y ppa:wireshark-dev/stable
          sudo apt install -y wireshark-dev
          sudo apt install -y --allow-change-held-packages wireshark

      - if: contains(matrix.build.os, 'macos')
        name: Install dependencies (macOS)
        run: |
          brew install --cask wireshark
          ln -snf $(find /Applications/Wireshark.app/Contents/Frameworks -name "libwireshark.*.dylib" | tail -n 1) libwireshark.dylib
          ln -snf $(find /Applications/Wireshark.app/Contents/Frameworks -name "libwiretap.*.dylib" | tail -n 1) libwiretap.dylib
          ln -snf $(find /Applications/Wireshark.app/Contents/Frameworks -name "libwsutil.*.dylib" | tail -n 1) libwsutil.dylib

      - if: contains(matrix.build.os, 'windows')
        name: Install dependencies (Windows)
        shell: nu {0}
        run: |
          let installed = (choco list -l -r --id-only | lines)
          let install_list = ["xsltproc", "docbook-bundle", "nsis", "winflexbison3", "cmake", "7zip"]

          for pkg in $install_list {
            if $pkg not-in $installed {
              choco install -y --force --no-progress $pkg
            }
          }

          choco install -y --no-progress wireshark --version $"${{ steps.wireshark-version.outputs.version }}.0"

      - if: contains(matrix.build.os, 'windows')
        name: Enable long path support
        run: |
          powershell -Command "
          New-ItemProperty -Path 'HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem' -Name 'LongPathsEnabled' -Value 1 -Force
          "

      - if: contains(matrix.build.os, 'windows')
        name: Build Wireshark from source (Windows)
        shell: powershell
        run: |
          & .\epan-sys\scripts\build.ps1 -WiresharkVersion "${{ steps.wireshark-version.outputs.version }}" -BuildConfig "Release"

      - name: Build
        run: cargo build --release
        env:
          WIRESHARK_LIB_DIR: ${{ contains(matrix.build.target, 'windows') && 'C:\\wsbuild\\build\\run\\Release' || (contains(matrix.build.target, 'apple') && github.workspace || '') }}

      - name: Packaging
        id: package
        shell: bash
        run: |
          PKG_NAME="zenoh-dissector-${{ needs.tag.outputs.version }}-${{ matrix.build.target }}-standalone.zip"
          PKG_PATH="${GITHUB_WORKSPACE}/${{ matrix.build.target }}.zip"
          echo "Packaging ${PKG_PATH}:"
          case ${{ matrix.build.target }} in
            *linux*)
              zip -j ${PKG_PATH} target/release/libzenoh_dissector.so
              ;;
            *apple*)
              mv target/release/libzenoh_dissector.dylib target/release/libzenoh_dissector.so
              zip -j ${PKG_PATH} target/release/libzenoh_dissector.so
              ;;
            *windows*)
              PKG_PATH="${PKG_PATH//\\//}"
              7z -y a ${PKG_PATH} target/release/zenoh_dissector.dll
              ;;
          esac
          echo "name=$PKG_NAME" >> "$GITHUB_OUTPUT"
          echo "path=$PKG_PATH" >> "$GITHUB_OUTPUT"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.package.outputs.name }}
          path: ${{ steps.package.outputs.path }}
          if-no-files-found: error

  publish:
    if: ${{ inputs.live-run || false }}
    name: Release publication
    needs: [tag, builds]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.tag.outputs.branch }}

      - uses: hustcer/setup-nu@v3
        with:
          version: '0.100'

      - name: Download the artifacts of previous builds
        uses: actions/download-artifact@v4
        with:
          path: ARTIFACTS

      - name: Generate the release note
        shell: nu {0}
        run: |
          print "Compute sha256sum"
          mkdir zip_files
          cp ARTIFACTS/*/*.zip zip_files
          cd zip_files
          let sha256sum = (ls *.zip | each {|file| $"(open --raw $file.name | hash sha256)  ($file.name)"} | str join "\n")
          print $sha256sum
          cd ..

          print "Record versions from Cargo.toml"
          let metadata = (cargo metadata --format-version 1 | from json)
          let pkg_ver = ($metadata.packages | where name == "zenoh-dissector" | get version | first)
          let zenoh_ver = ($metadata.packages | where name == "zenoh-protocol" | get version | first)
          let wireshark_ver = ($metadata.workspace_metadata.wireshark_version)

          print $"Package version: ($pkg_ver)"
          print $"Zenoh version: ($zenoh_ver)"
          print $"Wireshark version: ($wireshark_ver)"

          # Read the template and replace variables
          let template = (open .github/workflows/release-note.md)
          let note = ($template
            | str replace -a '${PKG_VER}' $pkg_ver
            | str replace -a '${ZENOH_VER}' $zenoh_ver
            | str replace -a '${WIRESHARK_VER}' $wireshark_ver
            | str replace -a '${SHA256SUM}' $sha256sum)

          $note | save release-note.md

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          prerelease: false
          files: ARTIFACTS/*/*.zip
          generate_release_notes: true
          body_path: release-note.md
          append_body: true
          tag_name: ${{ inputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN_WORKFLOW }}
